/* Couleurs du projet */

$noir: #000000;
$blanc: #ffffff;
$lightgray-clair: #f2f2f2;
$lightgray-medium: #e6e6e6;
$gray: #8b8b8b;
$primaire: #9356dc;
$primaire-light: #f2e8ff;
$secondaire: #ff79da;
$tertiaire: #99E2D0;
$footer: #353535;