@use "../Utilitaires/couleurs.scss";
@use "../Utilitaires/animation.scss";

@keyframes spin90 {
    0%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0);
    }
}

/* Etape 1 - Barre de retour menu principal */

header{
    display: flex;
    align-items: center;
    justify-content: center;
        i{
            background-color: white;
            border-radius: 50%;
            padding: 10px;
            font-size: x-large;
            margin-left: 20px;
            transition: 300ms;
                &:hover{
                    color: couleurs.$tertiaire;
                    transform: none;
                }
        }
            h1{
                margin-left: auto;
                margin-right: auto;
            }
}

/* Etape 2 - Mise en page image de fond de menu */

.image-de-fond img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* Etape 3 - Création titre menu et coeur */

.titre-coeur{
    background-color: couleurs.$lightgray-clair;
    position: relative;
    align-items: center;
    margin-top: -30px;
    padding: 10px 15px;
    border-radius: 35px 35px 0px 0px;
    h2{
        font-family: "Shrikhand", cursive;
    }
    i{
        font-size: 32px;
        position: absolute;
        right: 35px;
        top: 32%;
        }
            .fa-solid{
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to bottom right, couleurs.$secondaire, couleurs.$primaire);
            opacity: 0;
            transition: all 0.3s linear 0s;        
        }
}

.fa-solid:hover{
opacity: 1;
transform: scale(1.03);
cursor: pointer;
}

/* Etape 4 - Création section contenu du menu */

.menu-proposé{
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
    padding: 10px 15px;
    background-color: couleurs.$lightgray-clair;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
        h3{
            margin-top: 0px;
            font-weight: 200;
            text-decoration: couleurs.$tertiaire underline;
            text-underline-offset: 8px;
            text-decoration-thickness: 2px;
        }
}

.etape-menu{
    overflow: hidden;
}

.description-étape{
    @for $i from 1 through 4 {
        &:nth-child(#{$i}){
            animation-delay: 100ms * $i;
        }
    }
    display: flex;
    box-shadow: 2px 1px 8px -3px couleurs.$gray;
    border-radius: 20px;
    background-color: couleurs.$blanc;
    margin: 20px 5px;
    overflow: hidden;
    animation: apparition-progressive 700ms;
    animation-fill-mode: both;
        &:hover{
            cursor: pointer;
        }
        .description-titre-p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            h4, p{
                padding: 3px 0px;
            }
            h4{
                margin: 10px 0px 6px 15px;
            }
            p{
                margin: 6px 0px 10px 15px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
            .prix{
                align-self: flex-end;
                margin-left: auto;
                font-weight: bold;
                margin-right: 15px;
            }
                .animation-sélection{
                    display: grid;
                    place-items: center;
                    flex-shrink: 0;
                    justify-content: center;
                    border-radius: 0px 20px 20px 0px;
                    background-color: couleurs.$tertiaire;
                    width: 60px;
                    margin-right: -60px;
                    transition: margin-right 0.6s;
                    .fa-check{
                        display: grid;
                        place-items: center;
                        color: couleurs.$tertiaire;
                        background-color: couleurs.$blanc;
                        border-radius: 50%;
                        aspect-ratio: 1;
                        width: 30px;
                    }
                }
                    &:hover {
                        .animation-sélection{
                        margin-right: 0;
                        }
                            .fa-check{
                                animation: spin90 0.6s;
                            }
                    }
}

/* Etape 5 - Bouton commande */

.bouton-commande{
    background-color: couleurs.$lightgray-clair;
    display: flex;
    justify-content: center;
    button{
        color: couleurs.$blanc;
        font-weight: 300;
        font-size: 18px;
        padding: 15px 25px;
        border: none;
        background-image: linear-gradient(to bottom right, couleurs.$secondaire, couleurs.$primaire);
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 35px;
        box-shadow: 2px 1px 8px -3px couleurs.$gray;
        cursor: pointer;
        transition: 200ms;
    }
        button:hover{
            box-shadow: 2px 4px 12px -3px couleurs.$secondaire;
            transform: scale(1.02);
            opacity: 0.9;
        }
}
